.dds filter=lfs diff=lfs merge=lfs -text
.tga filter=lfs diff=lfs merge=lfs -text
/gfx/map/terrain/colormap.dds filter=lfs diff=lfs merge=lfs -text
/gfx/map/terrain/detail_index.tga filter=lfs diff=lfs merge=lfs -text
/gfx/map/terrain/detail_intensity.tga filter=lfs diff=lfs merge=lfs -text
/gfx/map/terrain/flat_maps/flatmap.dds filter=lfs diff=lfs merge=lfs -text
/gfx/map/terrain/flat_maps/flatmap_tgp.dds filter=lfs diff=lfs merge=lfs -text
